@page
@model KhanehNoh.Endpoints.RazorPages.Areas.Account.LoginModel
@{
}
<section id="main" class="clearfix user-page">
		<div class="container">
			<div class="row text-center">
				<!-- user-login -->			
				<div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
					<div class="user-account">
						<h2>فرم ورود</h2>
						<!-- form -->
						<form method="post">
							<div class="form-group">
								<input asp-for="Input.Username" type="text" class="form-control" placeholder="نام کاربری" >
							</div>
							<div class="form-group">
								<input asp-for="Input.Password" type="password" class="form-control" placeholder="رمزعبور" >
							</div>
							<button type="submit" class="btn">ورود</button>
						</form><!-- form -->
					
						<!-- forgot-password -->
						<div class="user-option">
							<div class="checkbox pull-left">
								<label for="logged"><input type="checkbox" name="logged" id="logged">مرا نگه دار </label>
							</div>
							<div class="pull-right forgot-password">
								<a href="#">فراموشی رمزعبور</a>
							</div>
						</div><!-- forgot-password -->
					</div>
					<a href="#" class="btn-primary">ساخت اکانت جدید</a>
				</div><!-- user-login -->			
			</div><!-- row -->	
		</div><!-- container -->
	</section><!-- signin-page -->