@page
@model KhanehNoh.Endpoints.RazorPages.Areas.Admin.Pages.Category_CreateModel
@{
}
<!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">افزودن دسته بندی</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form method="post">
                <div class="card-body">
                  <div class="form-group">
                    <label>عنوان</label>
                    <input asp-for="category.Title" class="form-control" type="text"  placeholder="عنوان را وارد کنید">
                  </div>
             
                                             
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-success">ثبت</button>
                </div>
              </form>
            </div>
            <!-- /.card -->