@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
	<!-- main -->
	<section id="main" class="clearfix home-default">
		<div class="container">
			<!-- banner -->
			<div class="banner-section text-center">
				<h1 class="title"> خانه نو |  خدمات منزل سریع و مطمئن</h1>
				<h3></h3>
				<!-- banner-form -->
				<div class="banner-form">
					<form action="#">
						<!-- category-change -->
						<div class="dropdown category-dropdown">						
							<a data-toggle="dropdown" href="#"><span class="change-text">انتخاب دسته‌بندی</span> <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu category-change">
								<li><a href="#">مد و زیبایی</a></li>
								<li><a href="#">ماشین و وسایل نقلیه</a></li>
								<li><a href="details.html">دستگاه‌های دیجیتال  و گجت‌ها</a></li>
								<li><a href="#">املاک</a></li>
								<li><a href="#">ورزشی و بازی</a></li>
							</ul>								
						</div><!-- category-change -->
					
						<input type="text" class="form-control" placeholder="عبارت مورد نظر خود را تایپ کنید">
						<button type="submit" class="form-control" value="Search">جستجو</button>
					</form>
				</div><!-- banner-form -->
				
				<!-- banner-socail -->
				
			</div><!-- banner -->
			
			<!-- main-content -->
			<div class="main-content">
				<!-- row -->
				<div class="row">
					<div class="d-none d-md-block col-md-2 text-center">
						<div class="advertisement">
							<a href="#"><img src="/UserTemplate/images/ads/5.jpg" alt="Images" class="img-fluid"></a>
						</div>
					</div>
					
					<!-- product-list -->
					<div class="col-md-8">
						<!-- categorys -->
							
						
						<!-- featureds -->
						<div class="section featureds">
							<div class="row">
								<div class="col-sm-12">
									<div class="section-title featured-top">
										<h4>جدیدترین هوم سرویس ها</h4>
									</div>
								</div>
							</div>
							
							<!-- featured-slider -->
							<div class="featured-slider">
								<div id="featured-slider" >
									<!-- featured -->
									<div class="featured">
										<div class="featured-image">
											<a href="details.html"><img src="/UserTemplate/images/featured/1.jpg" alt="" class="img-fluid"></a>
											<a href="#" class="verified" data-toggle="tooltip" data-placement="left" title="تایید شده"><i class="fa fa-check-square-o"></i></a>
										</div>
										
										<!-- ad-info -->
										<div class="ad-info">
									<h3 class="item-price">  8000 تومان  </h3>												
											<h4 class="item-title"><a href="#">اپل مک بوک پرو</a></h4>
											<div class="item-cat">
												<span><a href="details.html">دستگاه‌های دیجیتال  و گجت‌ها</a></span> 
											</div>
										</div><!-- ad-info -->
										
										<!-- ad-meta -->
										<div class="ad-meta">
											<div class="meta-content">
												<span class="dated"><a href="#">7 مهر، 10:10 بعد از ظهر</a></span>
											</div>									
											<!-- item-info-right -->
											<div class="user-option pull-right">
												<a href="#" data-toggle="tooltip" data-placement="top" title="ایران- تهران"><i class="fa fa-map-marker"></i> </a>
												<a href="#" data-toggle="tooltip" data-placement="top" title="فروشنده"><i class="fa fa-suitcase"></i> </a>											
											</div><!-- item-info-right -->
										</div><!-- ad-meta -->
									</div><!-- featured -->
									
									<div class="featured">
										<div class="featured-image">
											<a href="details.html"><img src="/UserTemplate/images/featured/6.jpg" alt="" class="img-fluid"></a>
										</div>
										
										<!-- ad-info -->
										<div class="ad-info">
											<h3 class="item-price">25000 تومان</h3>
											<h4 class="item-title"><a href="#">گیتار حکاکی شده خاص</a></h4>
											<div class="item-cat">
												<span><a href="#">ماشین و وسایل نقلیه</a></span> 
											</div>
										</div><!-- ad-info -->
										
										<!-- ad-meta -->
										<div class="ad-meta">
											<div class="meta-content">
												<span class="dated"><a href="#">7 مهر، 10:10 بعد از ظهر</a></span>
											</div>									
											<!-- item-info-right -->
											<div class="user-option pull-right">
												<a href="#" data-toggle="tooltip" data-placement="top" title="ایران- تهران"><i class="fa fa-map-marker"></i> </a>
												<a href="#" data-toggle="tooltip" data-placement="top" title="شخصی"><i class="fa fa-user"></i> </a>											
											</div><!-- item-info-right -->
										</div><!-- ad-meta -->
									</div><!-- featured -->
									
									<div class="featured">
										<div class="featured-image">
											<a href="details.html"><img src="/UserTemplate/images/featured/3.jpg" alt="" class="img-fluid"></a>
											<a href="#" class="verified" data-toggle="tooltip" data-placement="left" title="تایید شده"><i class="fa fa-check-square-o"></i></a>
										</div>
										
										<!-- ad-info -->
										<!-- ad-info -->
										<div class="ad-info">
											<h3 class="item-price">25000 تومان<span class="قابل مذاکره"> (قابل مذاکره)  </span></h3>
											<h4 class="item-title"><a href="details.html">ماشین دنا پلاس</a></h4>
											<div class="item-cat">
												<span><a href="#">ماشین و وسایل نقلیه</a></span> 
											</div>
										</div><!-- ad-info -->
										
										<!-- ad-meta -->
										<div class="ad-meta">
											<div class="meta-content">
												<span class="dated"><a href="#">7 مهر، 10:10 بعد از ظهر</a></span>
											</div>									
											<!-- item-info-right -->
											<div class="user-option pull-right">
												<a href="#" data-toggle="tooltip" data-placement="top" title="ایران- تهران"><i class="fa fa-map-marker"></i> </a>
												<a href="#" data-toggle="tooltip" data-placement="top" title="فروشنده"><i class="fa fa-suitcase"></i> </a>											
											</div><!-- item-info-right -->
										</div><!-- ad-meta -->
									</div><!-- featured -->
									<div class="featured">
										<div class="featured-image">
											<a href="details.html"><img src="/UserTemplate/images/trending/4.jpg" alt="" class="img-fluid"></a>
										</div>
										
										<!-- ad-info -->
										<div class="ad-info">
											<h3 class="item-price">  5000 تومان  </h3>	
											<h4 class="item-title"><a href="#">ریک مورتون- مگیسیوس چیس</a></h4>
											<div class="item-cat">
												<span><a href="#">کتاب و مجله</a></span> 
											</div>
										</div><!-- ad-info -->
										
										<!-- ad-meta -->
										<div class="ad-meta">
											<div class="meta-content">
												<span class="dated"><a href="#">7 مهر، 10:10 بعد از ظهر</a></span>
											</div>									
											<!-- item-info-right -->
											<div class="user-option pull-right">
												<a href="#" data-toggle="tooltip" data-placement="top" title="ایران- تهران"><i class="fa fa-map-marker"></i> </a>
												<a href="#" data-toggle="tooltip" data-placement="top" title="شخصی"><i class="fa fa-user"></i> </a>											
											</div><!-- item-info-right -->
										</div><!-- ad-meta -->
									</div><!-- featured -->
									
									<div class="featured">
										<div class="featured-image">
											<a href="details.html"><img src="/UserTemplate/images/trending/3.jpg" alt="" class="img-fluid"></a>
										</div>
										
										<!-- ad-info -->
										<div class="ad-info">
											<h3 class="item-price">  38000 تومان  </h3>
											<h4 class="item-title"><a href="#">سامسونگ گلکسی اس 10</a></h4>
											<div class="item-cat">
												<span><a href="details.html">دستگاه‌های دیجیتال  و گجت‌ها</a></span> 
											</div>
										</div><!-- ad-info -->
										
										<!-- ad-meta -->
										<div class="ad-meta">
											<div class="meta-content">
												<span class="dated"><a href="#">7 مهر، 10:10 بعد از ظهر</a></span>
											</div>									
											<!-- item-info-right -->
											<div class="user-option pull-right">
												<a href="#" data-toggle="tooltip" data-placement="top" title="ایران- تهران"><i class="fa fa-map-marker"></i> </a>
												<a href="#" data-toggle="tooltip" data-placement="top" title="شخصی"><i class="fa fa-user"></i> </a>											
											</div><!-- item-info-right -->
										</div><!-- ad-meta -->
									</div><!-- featured -->
								</div><!-- featured-slider -->
							</div><!-- #featured-slider -->
						</div><!-- featureds -->

					

									
					</div><!-- product-list -->

					<!-- advertisement -->
					<div class="d-none d-md-block col-md-2">
						<div class="advertisement text-center">
							<a href="#"><img src="/UserTemplate/images/ads/6.jpg" alt="Images" class="img-fluid"></a>
						</div>
					</div><!-- advertisement -->
				</div><!-- row -->
			</div><!-- main-content -->
		</div><!-- container -->
	</section><!-- main -->
